p{
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
.s1{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Helvetica";
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s2{
	font-size: 81.2500%;
	margin-bottom: 2.4902%;
}
.s3{
	font-family: ".Lucida Grande UI";
	font-size: 75.0000%;
}
.s4{
	color: #463B3C;
	font-family: "Impact";
	font-size: 200.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s5{
	color: #801140;
	font-family: "Impact";
	font-size: 393.7500%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s6{
	color: #463B3C;
	font-family: "Impact";
	font-size: 150.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s7{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 93.7500%;
	margin-bottom: 2.4902%;
}
.s8{
	color: #463B3C;
	font-family: "Impact";
	font-size: 400.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s9{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 143.7500%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s10{
	color: #574D4C;
	font-family: "Impact";
	font-size: 175.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s11{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 93.7500%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s12{
	color: #584F4E;
	font-family: "Impact";
	font-size: 243.7500%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s13{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 100.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s14{
	color: #463B3C;
	font-family: "Impact";
	font-size: 300.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s15{
	color: #584F4D;
	font-family: "Impact";
	font-size: 175.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s16{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 93.7500%;
	margin-bottom: 3.0401%;
	padding-left: 7.4705%;
}
.s17{
	color: #463B3C;
	font-family: ".Lucida Grande UI";
	font-size: 150.0000%;
	margin-bottom: 2.4902%;
}
.s18{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 81.2500%;
	margin-bottom: 2.4902%;
}
.s19{
	color: #584F4D;
	font-family: "Verdana";
	font-size: 100.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s20{
	color: #2044E1;
	font-family: "Courier";
	font-size: 81.2500%;
}
.s21{
	color: #584F4D;
	font-family: "Impact";
	font-size: 300.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s22{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 131.2500%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s23{
	color: #0433FF;
	font-family: "Courier";
	font-size: 81.2500%;
}
.s24{
	color: #CB1D27;
	font-family: "Courier";
	font-size: 81.2500%;
}
.s25{
	color: #463B3C;
	font-family: "Impact";
	font-size: 175.0000%;
	font-weight: bold;
	margin-bottom: 2.4902%;
}
.s26{
	color: #0433FF;
	font-family: "Courier";
	font-size: 81.2500%;
	margin-bottom: 2.4902%;
}
.c1{
	font-family: ".Lucida Grande UI";
	font-size: 92.3077%;
}
.c2{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 37.5000%;
	font-weight: normal;
}
.c3{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 19.0476%;
	font-weight: normal;
}
.c4{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 50.0000%;
	font-weight: normal;
}
.c5{
	color: #801140;
}
.c6{
	color: #0433FF;
}
.c7{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 80.0000%;
}
.c8{
	font-weight: bold;
}
.c9{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 18.7500%;
	font-weight: normal;
}
.c10{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 52.1739%;
	font-weight: normal;
}
.c11{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 42.8571%;
	font-weight: normal;
}
.c12{
	font-style: italic;
}
.c13{
	color: #011A99;
}
.c14{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 80.0000%;
	font-weight: normal;
}
.c15{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 30.7692%;
	font-weight: normal;
}
.c16{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 75.0000%;
	font-weight: normal;
}
.c17{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 25.0000%;
	font-weight: normal;
}
.c18{
	color: #000000;
	font-size: 50.0000%;
}
.c19{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 92.3077%;
}
.c20{
	color: #0096FF;
	font-weight: bold;
}
.c21{
	color: #CB1D27;
}
.c22{
	color: #000000;
	font-family: ".Lucida Grande UI";
	font-size: 57.1429%;
	font-weight: normal;
}
.c23{
	color: #463B3C;
	font-family: "Verdana";
	font-size: 115.3846%;
}
.c24{
	color: #0433FF;
	font-family: "Courier";
}
